<main class="container" onload="cargaDatos()">
  <section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Animes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
          aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Agregar Anime</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Agregar Estudio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Agregar Tipo</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
                aria-expanded="false">Buscar por</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown09">
                <li><a class="dropdown-item" href="#">Nombre</a></li>
                <li><a class="dropdown-item" href="#">Studio</a></li>
                <li><a class="dropdown-item" href="#">Año de lanzamiento</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </li>
          </ul>
          <!-- <form> -->
          <!-- </form> -->
        </div>
      </div>
    </nav>

    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-12 mx-auto">
          <!-- <h1>Animes</h1> -->
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Japanese Name</th>
                  <th scope="col">Studio</th>
                  <th scope="col">Type</th>
                  <th scope="col">Episodes</th>
                  <th scope="col">Release Season</th>
                  <th scope="col">Release Year</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Tags</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>